## 2013 RESÍDUOS

Para mudar o arquivo, basta mudar o link e o ano no bloco que concerta o tipo do dado

In [29]:
# Desconbrinco a 'criptografia' do csv

import chardet

with open('./base/amlurbcoletatiposresiduos2013.csv', 'rb') as f:
    result = chardet.detect(f.read())
    print(result['encoding'])

ISO-8859-1

In [30]:
import pandas as pd

df = pd.read_csv('./base/amlurbcoletatiposresiduos2013.csv', encoding='ISO-8859-1', sep=';')

# sep=';' --> exencial para separar os valores, vulgo delimitador
# encoding='ISO-8859-1' --> precisa 'descriptografar' para ler corretamente os dados

In [31]:
# renomeando as coluna com espaço e com acento
df.rename(columns={"TIPO DE RESÖDUO": "Tipo_residuo", "TOTAL 2013": "Total_2013"}, inplace=True)
df.columns = df.columns.str.lower().str.strip()

In [32]:
# Concertando o tipo de dados

df['jan/13'] = df['jan/13'].str.replace(',', '.').astype(float)
df['fev/13'] = df['fev/13'].str.replace(',', '.').astype(float)
df['mar/13'] = df['mar/13'].str.replace(',', '.').astype(float)
df['abr/13'] = df['abr/13'].str.replace(',', '.').astype(float)
df['mai/13'] = df['mai/13'].str.replace(',', '.').astype(float)
df['jun/13'] = df['jun/13'].str.replace(',', '.').astype(float)
df['jul/13'] = df['jul/13'].str.replace(',', '.').astype(float)
df['ago/13'] = df['ago/13'].str.replace(',', '.').astype(float)
df['set/13'] = df['set/13'].str.replace(',', '.').astype(float)
df['out/13'] = df['out/13'].str.replace(',', '.').astype(float)
df['nov/13'] = df['nov/13'].str.replace(',', '.').astype(float)
df['dez/13'] = df['dez/13'].str.replace(',', '.').astype(float)
df['total_2013'] = df['total_2013'].str.replace(',', '.').astype(float)

In [33]:
# Padronizando a coluna 'Tipo_residuo'

df['tipo_residuo'] = df['tipo_residuo'].str.lower().str.strip()

standard_map = {
    "domiciliar": "domiciliar",
    "entulho mecanizado": "entulho_mecanizado",
    "diversos": "diversos",
    "residuos de piscinao": "residuos_de_piscinao",
    "esgoto": "esgoto",
    "residuos de corregos": "residuos_de_corregos",
    "varricao": "varricao",
    "entulho manual": "entulho_manual",
    "seletiva": "seletiva",
    "feira livre": "feira_livre",
    "poda": "poda",
    "gg saude": "gestao_saude",
    "residuos de boca de lobo": "residuos_boca_de_lobo",
    "pg saude": "programa_saude",
    "diversos-emae": "diversos_emae",
    "alim vencidos": "alimentos_vencidos",
    "entulho apreendido": "entulho_apreendido",
    "animais": "animais",
    "varricao mecanizada": "varricao_mecanizada",
    "(vazio)": "vazio",
    "total": "total"
}


df["tipo_residuo"] = df["tipo_residuo"].map(standard_map)

In [34]:
# visualização data_type
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tipo_residuo  21 non-null     object
 1   jan/13        21 non-null     float64
 2   fev/13        21 non-null     float64
 3   mar/13        21 non-null     float64
 4   abr/13        21 non-null     float64
 5   mai/13        21 non-null     float64
 6   jun/13        21 non-null     float64
 7   jul/13        21 non-null     float64
 8   ago/13        21 non-null     float64
 9   set/13        21 non-null     float64
 10  out/13        21 non-null     float64
 11  nov/13        21 non-null     float64
 12  dez/13        21 non-null     float64
 13  total_2013    21 non-null     float64
dtypes: float64(13), object(1)
memory usage: 2.4+ KB
None

In [35]:
# visualização
print(df.head(3))

         tipo_residuo     jan/13     fev/13     mar/13     abr/13     mai/13  \
0          domiciliar  329811.17  306900.44  319322.64  323370.88  311543.84
1  entulho_mecanizado   87669.43   73157.94   77888.83   84883.83   93405.81
2            diversos   27656.96   28013.76   28353.69   28778.87   29615.12

      jun/13     jul/13     ago/13     set/13     out/13     nov/13  \
0  297548.85  317327.32  315676.64  305483.65  331783.32  322859.19
1   95076.82  102690.35   98948.03   92558.41   97351.44   85582.34
2   27063.56   27802.94   25733.42   24146.55   27751.44   26319.56

      dez/13  total_2013
0  349827.25  3831455.19
1   73351.86  1062565.09
2   28519.79   329755.66